@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .logo{
    /* border: 2px solid black; */
    height: 40px;
    width:50px;  
  }
  #about h1, #experience h1, #projects h1{
    color: white;
  }
  #about, #experience, #projects h3{
    color: black;
  }
  #profile .section__pic-container img{
    width: auto;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
    display: flex;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
   }
  
.wrapper2 {
  height: fit-content;
  background-color: black;
  border-radius: 3rem 3rem 3rem 3rem;
}
#loader{
  transition: all linear 1s;
}
}

@media screen and (max-width: 1200px) {

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    margin: 0 auto;
    width: 0 1rem ;
    height: 46vw;
    justify-content: center;

  } 
  .about-pic{
    margin-bottom: 1rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .right .btn-container{
   width: 250px;
   height: auto;
   margin: auto;
  }
  #profile .section__pic-container img{
    width: auto;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
    display: flex;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
   }
   #profile .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
    margin-bottom: 3rem;
  }
   #contact{
    height: 80vh;
   }
   .nav-links {
    height: auto;
    background-color: white;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
     margin-bottom: 3rem;
  
  }

  .nav-links a{
    color: black;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  #loader{
    transition: all linear 8s;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 73vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li{
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo{
    /* border: 2px solid black; */
    height: 40px;
    width:50px;  
  }
  .logo img {
    height: 100%;
    width: 100%;
  object-position: center;
    object-fit: cover;
  }
  .nav-links {
    height: 20vh;
    background-color: white;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
     margin-bottom: 3rem;
  
  }

  .nav-links a{
    color: black;
    font-size: 1.5rem;
  }
  #profile .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
    margin-bottom: 3rem;
  }
  #about .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .right{
    width: auto;
  }
  .right .btn-container{
   width: 200px  ;
   margin: auto;
  }
  #profile .section__pic-container img{
   width: auto;
   justify-content: center;
   align-items: center;
   width: 175px;
   height: 175px;
   display: flex;
  }
  #about .about-containers{
    flex-direction: column;
  }
  .wrapper2{
    width: 100vw;
  }
}
